.organic-contact-form {
		
	header {

		background: url('../images/organic-logo.png') top right no-repeat;
		background-position-y: 9px;
		background-size: 150px;
		min-height: 50px;

	}

	.postbox-container {

		&.full-width {

			width: 100%;

		}

		&.half-width {

			@include breakpoint-large {

				width: 49%;

				&:first-child {

					margin-right: 1%;

				}

				&:last-child {

					margin-left: 1%;

				}

			}

			@include breakpoint-small {

				width: 100%;

			}

		}

	}

}